@model WebAppCadeteria.Models.ViewModels.AddPedidoVM

@{
    ViewData["Title"] = "AddPedido";
}

<h1>Alta de pedido</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPedido">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Obs" class="control-label"></label>
                <input asp-for="Obs" class="form-control" />
                <span asp-validation-for="Obs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Cadete</h5>
                <select name="id_cadete" id="id_cadete" class="form-select">
                    @foreach (var Cadete in Model.listaCadetes)
                    {
                        <option value="@Cadete.Id">@Cadete.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <h5>Cliente</h5>
                <select name="id_cliente" id="id_cliente" class="form-select">
                    @foreach (var Cliente in Model.listaClientes)
                    {
                        <option value="@Cliente.Id">@Cliente.Apellido</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
