@model WebAppCadeteria.Models.ViewModels.AltaPedidoVM

@{
    ViewData["Title"] = "AltaPedido";
}

<h1>Alta de Pedido</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPedido">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Cadete</h5>
                <select name="IdCadete" id="IdCadete" class="form-select">
                    @foreach (var Cadete in Model.listas.listaCadetes)
                    {
                        <option value="@Cadete.Id">@Cadete.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <h5>Cliente</h5>
                <select name="IdCliente" id="IdCliente" class="form-select">
                    @foreach (var Cliente in Model.listas.listaClientes)
                    {
                        <option value="@Cliente.Id">@Cliente.Apellido</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Observacion" class="control-label"></label>
                <input asp-for="Pedido.Observacion" class="form-control" />
                <span asp-validation-for="Pedido.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
