@{
    ViewData["Title"] = "Home Page";
}

@model List<Cadeteria.Model.Cadete>

<form asp-action="CargarPedido" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select">Cadete</label>
        </div>
        <select class="custom-select" id="select" aria-label="Default select example" name="id">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Nombre</option>
                <option value="2">NO ASIGNADO</option>
            }
        </select>
    </div>
    <div>
        <label for="apellido">Apellido del Cliente</label>
        <input type="text" name="apellido" placeholder="Gomez" required />
        <label for="nombre">Nombre del cliente</label>
        <input type="text" name="nombre" placeholder="Gomez" required />
        <label for="dir">Direccion del cliente</label>
        <input type="text" name="dir" placeholder="Gomez" required />
        <label for="tel">Telefono del cliente</label>
        <input type="text" name="tel" placeholder="Av. Siempre Viva 1500" required />
    </div>
    <label for="obs">Observaciones</label>
    <input type="text" name="obs" placeholder="¡CUIDADO! Perro asesino!" required />
    <br><br>
    <input type="submit" class="btn btn-primary" value="Enviar" />
</form>
