@{
    ViewData["Title"] = "Home Page";
}

<h1>Alta de Cadetes</h1><br />

<form asp-action="AddCadete" method="post">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="Ragnar" required />
    </div>
    <div class="form-group">
        <label for="direccion">Direccion</label>
        <input type="text" name="direccion" placeholder="Avenida SiempreViva 2700" required />
    </div>
    <div class="form-group">
        <label for="tel">Telefono</label>
        <input type="text" name="tel" placeholder="3815625752" maxlength="12" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>